---
title: Home page
published: true
handle: home
---
{% extends 'layouts/simple' %}

{% block content/main %}
.row
  .col-lg-4
    {% editable_text first_column %}
    %h2 Projects
    %p Here are our projects
    {% endeditable_text %}
    %ul
    {% for project in contents.projects %}
    %li
      {{ project.name }}
    {% endfor %}
  .col-lg-4
    {% editable_text second_column %}
    %h2 Books
    %p Here are our book offers
    {% endeditable_text %}
    %ul
    {% for book in contents.books %}
    %li
      {{ book.name }} by: {{ book.author.name }}
    {% endfor %}
  .col-lg-4
    %h2
      %a{ href: "{% path_to events %}" }
        Events
    {% editable_text third_column %}
    %p Here are the events
    {% endeditable_text %}
    %ul
    {% for event in contents.events %}
    %li
      %a{href:"{% path_to event %}"}
        {{ event.title }} on: {{ event.event_date | localized_date: '%m/%d/%Y' }}
    {% endfor %}
{% endblock %}
