---
title: Home page
published: true
handle: home
---
{% extends 'layouts/simple' %}

{% block content/main %}
.row
  .col-lg-4
    {% editable_text first_column %}
    %h2 Heading #1
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    {% endeditable_text %}
  .col-lg-4
    {% editable_text second_column %}
    %h2 Heading #2
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    {% endeditable_text %}
  .col-lg-4
    {% editable_text third_column %}
    %h2 Events
    %p Here are the events
    {% endeditable_text %}
    %ul
    {% for event in contents.events %}
    %li
      {{ event.title }} on:{{ event.event_date | localized_date: '%m/%d/%Y' }}
    {% endfor %}
{% endblock %}
